.about {
  margin-top: 6rem;
  &__panel-1 {
    border: 1px solid orange;
  }
  &__panel-2 {
    border: 1px solid gray;
    margin-left: 4rem;
  }
}

.about-box {
  border: 1px solid blue;
  display: flex;
}

.karly-img {
  height: 300px;
  width: 300px;
}

.test {
  min-height: 600px;
}

.accordion {
  margin: 4rem 0;
}

.accordion:last-child {
  border-bottom: 1px solid hsla(0, 0%, 59%, 0.3);
}

.accordion-header {
  width: 100%;
  cursor: pointer;
  padding: 2rem;
  color: var(--btn-primary);
  border: 0.2rem solid var(--btn-primary);
  padding: 1.7rem 2rem;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    align-self: flex-end;
  }

  h3 {
    font-weight: 400;
    font-size: 1.8rem;
    padding-right: 2rem;
  }
}

.accordion-header.active {
  background-color: var(--shade-dark);
  color: var(--shade-light);
}

.accordion-content {
  background-color: var(--bg-alt);
  text-align: left;
  padding: 0 1.8rem;
  border-top: none;
  display: none;

  p {
    line-height: 2;
    font-size: 1.6rem;
  }

  .image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 2rem;
    img {
      width: 200px;
      height: auto;
    }
  }
}
