#skills {
  background-color: #f6f2ef;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;

  @include responsive(tab-port) {
    width: 90%;
  }
}

.skills li {
  list-style: none;
  width: 8rem;
  text-align: center;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.8rem;

  @include responsive(tab-port) {
    margin: 0 2rem;
    width: 12rem;
  }
}

.skills li img {
  width: 40px;
  @include responsive(tab-port) {
    width: 5rem;
  }
}
